@charset "utf-8";
/*.body {*/
    /*!*background-color:#396DA5;*!*/
    /*margin:0px;*/
    /*padding:0px;*/
    /*color: #f5f5f5;*/
    /*!*font:"微软雅黑";*!*/
    /*font-size:14px;*/
/*}*/

.webConsole-window {
    border:2px #ccc outset;
    width:950px;
    height:442px;
    background-color:#000;
    /*position:absolute;*/
    /*top:40px;*/
    /*left:68px;*/
    overflow:hidden
}

.webConsole-title {
    background-color:#08246B;
    padding:2px;
    color: white;
}

#text {
    background-color:#000;
    border-top:#ccc outset 2px;
    height:420px;
    overflow-y:scroll;
}

.webConsole-ul {
    margin:0px;
    padding:0px;
    list-style:none;
    color: #ffffff;
    background: black;
    width: inherit;
}

.webConsole-input {
    background-color:#000;
    border:0;
    color: #ffffff;
    outline:none;
    /*font-size:12px;*/
    width:100%
}

.webConsole-textarea {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    background: black;
    width: inherit;
    height: 410px;
    overflow-y: auto;
}